*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}
body{
overflow:hidden;
background:black;
color:white;
}
#bg{
position:fixed;
inset:0;
background-size:cover;
background-position:center;
filter:brightness(.45);
z-index:-2;
transition:
background-image 1.5s ease;
animation:
bgZoom 20s ease-in-out infinite alternate;
}
@keyframes bgZoom{
0%{
transform:scale(1);
}
100%{
transform:scale(1.15);
}
}
.overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.25);
z-index:-1;
}
.container{
width:100%;
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;
padding-top:8vh;
padding:25px;
text-align:center;
}
.sticker,
h1,
p,
button{
position:relative;
z-index:10;
}
.button-container{
display:flex;
justify-content:center;
align-items:center;
width:100%;
margin-top:20px;
}
.sticker{
width:180px;
height:180px;
object-fit:contain;
margin-bottom:20px;
animation:float 3s ease-in-out infinite;
transition:.2s;
}
@keyframes float{
0%{
transform:translateY(0);
}
50%{
transform:translateY(-15px);
}
100%{
transform:translateY(0);
}
}
h1{
margin-bottom:15px;
font-size:2rem;
}
p{
max-width:500px;
line-height:1.8;
font-size:1.1rem;
min-height:120px;
}
button{
padding:14px 28px;
border:none;
border-radius:50px;
font-size:18px;
cursor:pointer;
margin-top:25px;
}
#nextBtn{
background:white;
color:black;
}
#giftBtn{
display:none;
width:170px;
height:170px;
font-size:90px;
border-radius:50%;
background:rgba(255,255,255,.15);
backdrop-filter:blur(10px);
}
#confetti{
position:fixed;
inset:0;
pointer-events:none;
overflow:hidden;
}
#particles{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
z-index:5;
}
.message-box{
background:
rgba(255,255,255,.08);
backdrop-filter:blur(12px);
padding:25px;
border-radius:20px;
width:min(90%,700px);
}
.particle{
position:absolute;
width:8px;
height:8px;
border-radius:50%;
background:#7ee7ff;
    box-shadow:
        0 0 10px #7ee7ff,
        0 0 20px #7ee7ff;
opacity:.7;
animation:floatUp linear infinite;
}

@keyframes floatUp{
0%{
transform:translateY(0);
opacity:0;
}
20%{
opacity:.8;
}
100%{
transform:translateY(-120vh);
opacity:0;
}
}

.confetti{
position:absolute;
width:10px;
height:10px;
animation:confettiFall 3s linear forwards;
}
@keyframes confettiFall{
0%{
transform:translateY(-50px) rotate(0);
opacity:1;
}
100%{
transform:translateY(110vh) rotate(720deg);
opacity:0;
}
}
